// https://github.com/necolas/normalize.css/issues/664
body {
    margin: 0;
    font-size: 100%;
    height: 100vh;
    background-color: $color-dark-grey;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    position: relative;
    font-size: 100%;

    &.is-blocked {
        overflow: hidden;
    }

    &.is-blocked-touch {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
        height: auto;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
}
