.achievements {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 1 50px;
    }

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__title {
    }
}
