.guns-chart {
    &__text {
        font-size: 12px;
        font-weight: bold;
        background-color: $color-white;
        color: $color-grey;
        padding: 10px 50px 10px 20px;
        border: 1px solid $color-light-grey;
        border-radius: 3px;
    }

    &__container {
        padding: 20px 0;

        @include desktop {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__chart {
        margin-top: 40px;

        @include desktop {
            margin-top: 0;
            margin-left: 40px;
            flex-shrink: 0;
        }
    }

    &__legend {
        @include desktop {
            flex-shrink: 0;
        }
    }

    &__card-wrapper {
        margin-top: 40px;

        @include desktop {
            margin-top: 0;
            margin-left: 40px;
            display: flex;
            flex: 1;
        }
    }

    &__card {
        @include desktop {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    &__img-wrapper {
        height: 300px;

        @include desktop {
            height: auto;
        }

        @include object-fit-image-parent(contain);
    }
}
