.base-layout {
    &__layout {
        min-height: 100vh;
    }

    &__header {
        height: auto;
        padding: 0 $default-side-padding;
    }

    &__logo {
        color: $color-white;
        font-size: 32px;
    }

    &__content {
        margin: $container-padding-top 0;
        padding: 0 $default-side-padding;
    }

    &__title {
        @at-root h1#{&} {
            font-size: 20px;
            color: $color-white;
            margin: 0;
        }
    }
}
