.match-stats {
    &__title {
        margin: 0;
        font-weight: bold;
        text-align: center;
        padding: 12px;
        flex: 0.1;

        > span {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    &__team {
        display: flex;

        & + & {
            margin-top: 10px;
        }

        &.terrorist {
            .ant-table-row {
                background-color: rgba($color-t-primary, 0.8);
            }

            .match-stats__title {
                color: $color-t-primary;
            }
        }

        &.counterterrorist {
            .ant-table-row {
                background-color: rgba($color-ct-primary, 0.8);
            }

            .match-stats__title {
                color: $color-ct-primary;
            }
        }

        .ant-table-tbody {
            > tr {
                &.ant-table-row:hover {
                    > td {
                        background: unset;
                    }
                }
            }
        }
    }

    &__table {
        flex: 1;

        .ant-table-tbody > tr {
            &.ant-table-row {
                &.died {
                    td {
                        background-color: rgba(0, 0, 0, 0.15);

                        &:nth-child(2) {
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .died {
            & td {
                &:nth-child(2) {
                    &::after {
                        content: '☠';
                        position: absolute;
                        right: 5%;
                        top: -38px;
                        font-size: 65px;
                        color: rgba(0, 0, 0, 0.04);
                        z-index: -1;
                        transform: rotate(-28deg);
                    }
                }
            }
        }

        .ant-table-tbody > tr > td,
        .ant-table-thead > tr > th {
            padding: 4px;
            background: none;
        }

        .ant-table-thead > tr > th {
            color: #696969;
            border: none;
        }

        .ant-table-tbody > tr > td {
            color: white;
            font-weight: 500;
            padding: 8px;
        }
    }
}
