.match-stats {
    &__team {
        display: flex;

        & + & {
            margin-top: 20px;
        }

        &.terrorist {
            .ant-table-row {
                background-color: rgba($color-t-primary, 0.9);
            }

            .match-stats__title {
                color: $color-t-primary;
            }
        }

        &.counterterrorist {
            .ant-table-row {
                background-color: rgba($color-ct-primary, 0.9);
            }

            .match-stats__title {
                color: $color-ct-primary;
            }
        }

        .ant-table-tbody {
            > tr {
                &.ant-table-row:hover {
                    > td {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &__table {
        flex: 1;

        .ant-table-tbody > tr {
            &.ant-table-row {
                &.died {
                    td {
                        background-color: rgba(0, 0, 0, 0.3);

                        &:nth-child(2) {
                            position: relative;
                            overflow: hidden;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .died {
            & td {
                &:nth-child(2) {
                    &::after {
                        content: '☠';
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        font-size: 65px;
                        color: rgba(0, 0, 0, 0.04);
                        z-index: -1;
                        transform: translateY(-50%) rotate(-28deg);
                    }
                }
            }
        }

        .ant-table-tbody > tr > td,
        .ant-table-thead > tr > th {
            padding: 4px;
            background-color: transparent;
        }

        .ant-table-thead > tr > th {
            color: #AAAAAA;
            border: transparent;
        }

        .ant-table-tbody > tr > td {
            color: white;
            font-weight: 500;
            padding: 8px;
            border-color: black;
        }
    }
}
