.match-kills {
    &__list {
        @include reset-list();
    }

    &__li {
        text-align: right;

        & + & {
            margin-top: 5px;
        }
    }

    &__log {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.07);
        padding: 4px 10px;
        border-radius: 4px;
    }

    &__time {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 4px;
        color: #696969;
        font-weight: 500;
    }

    &__player {
        font-weight: 600;
    }

    &__weapon {
        margin: 0 2px;
        max-height: 20px;
        object-fit: contain;
    }

    &__headshot,
    &__suicide,
    &__penetrated {
        max-height: 24px;
        margin: 0 2px;
        object-fit: contain;
    }
}
