.match {
    position: relative;
    z-index: 0;
    padding: 30px 30px 60px;

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -30;
        object-fit: cover;

        img {
            object-position: top center;
        }
    }

    &__content {
        padding: 30px;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title {
        display: flex;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__map {
        margin: 0 15px 0 0;
        color: white;
    }

    &__score {
        font-size: 46px;
        font-weight: 700;
        line-height: 1;
    }

    &__score-colon {
        margin-top: -5px;
        color: #696969;
    }

    &__body {
        display: flex;
        margin-top: 30px;
    }

    &__stats {
        width: 60%;
    }

    &__kills {
        width: 40%;
        padding-top: 37px;
    }
}
