@model IEnumerable<CsStat.Domain.Entities.UsefulInfo>

@if (Model.Any())
{
    foreach (var item in Model)
    {
        <div class="card">
            <img class ="card-img-top" src="@item.Image" alt="image">
            <div class="card-body">
                <h5 class="card-title">@item.Caption</h5>
                <p class="card-text">@item.Description</p>
            </div>
        </div>
    }
}


