<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="BotToken" value="5237512779:AAHxjvpovi4J4vaVNmZd4ZphRbBXJqULVDc"/>
    <add key="ChatId" value="-529378161"/>
    <add key="BeforeGameNotificationTime" value="11:35"/>
    <add key="AfterGameNotificationTime" value="11:40"/>
    <add key="NotificationsApiUrl" value="https://admin.fuse8csgo.ru/bot-notifications"/>
    <add key="StickersApiUrl" value="https://admin.fuse8csgo.ru/stickers"/>
    <add key="TimerInterval" value="60000"/>
    <add key="ExcludeDays" value="0, 6"/>
    <add key="BestPlayerApiUrl" value="http://salo/api/bot/bestplayerstat"/>
  </appSettings>
</configuration>