<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="ConnectionString" connectionString="mongodb://192.168.100.133/ReadFileReader" />
    </connectionStrings>

    <appSettings>
        <add key="LogsPath" value=""/>
        <add key="FileReadNewLinesInterval" value="10000"/>
        <add key="TimerInterval" value="10000"/>
        <add key="TakeLines" value="50"/>
    </appSettings>
</configuration>