.players-data {
    $this: &;

    &__filters {
        display: flex;
        justify-content: space-between;
    }

    &__row {
        background-color: $color-white;
        cursor: pointer;
    }

    &__cell {
        &.is-hidden {
            display: none;
        }
    }

    td#{$this}__cell {
        padding: 0 !important;
    }

    &__cell-inner {
        width: 100%;
        height: 58px;
        padding: 12px 8px;
        display: flex;
        align-items: center;

        &.is-selected {
            background-color: $color-light-blue;
        }
    }

    &__avatar {
        @include object-fit-image-parent();
    }
}
