<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="ConnectionString" connectionString="mongodb://csfuse8.westeurope.cloudapp.azure.com/DemoFileReader" />
    </connectionStrings>

    <appSettings>
        <add key="DemosFolderPath" value=""/>
        <add key="TimerInterval" value="10000"/>
    </appSettings>
</configuration>
