<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="ConnectionString" connectionString="mongodb://fuse8datareader:fuse81qaz%40WSX@csstat.westeurope.cloudapp.azure.com:27017/csstat?authSource=csstat" />
    </connectionStrings>

    <appSettings>
        <add key="ConsoleLogsPath" value=""/>
        <add key="TimerInterval" value="10000"/>
    </appSettings>
</configuration>
