<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="mongodb://fuse8datareader:fuse81qaz%40WSX@csstat.westeurope.cloudapp.azure.com:27017/csstat?authSource=csstat" />
  </connectionStrings>

  <appSettings>
    <add key="ConsoleLogsPath" value="D:\Games\CS_GO_DS\server\csgo\console.log"/>
    <add key="CsPath" value="D:\Games\CS_GO_DS\server"/>
    <add key="PlayersDataSteamApiPath" value= "http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/" />
    <add key ="FirstSteamId" value="76561197960265728" />
    <add key ="ApiKey" value="C03F2D79CF2FE20B64A85531031F3983" />
    <add key="ClearPlayerCacheEndpoint" value="http://salo/api/cache/clearplayers1234"/>
  </appSettings>
</configuration>