<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="mongodb://csfuse8.westeurope.cloudapp.azure.com/strapi" />
  </connectionStrings>

  <appSettings>
    <add key="ConsoleLogsPath" value="D:\Games\CS_GO_DS\server\csgo\console.log"/>
    <add key="CsPath" value="D:\Games\CS_GO_DS\server"/>
  </appSettings>
</configuration>