.match-details-rounds {
    &__list {
        @include reset-list();

        display: flex;
    }

    &__li {
        flex: 1;
        min-width: 30px;
        padding: 0 2px;
    }

    &__cell {
        min-height: 40px;
        color: #777;
        font-size: 24px;
        font-weight: 600;
        text-align: center;

        &--top {
            color: #E4E4E4;
            border-bottom: 4px solid;

            &.has-value {
                color: $color-t-primary;
            }
        }

        &--mid {
            min-height: 0;
            padding: 2px 0;
            font-size: 16px;
        }

        &--bottom {
            color: #E4E4E4;
            border-top: 4px solid;
            
            &.has-value {
                color: $color-ct-primary;
            }
        }
    }

    &__col {
        display: block;
        border-radius: 4px;

        &.is-selected {
            background-color: rgba(0,0,0,0.1);
        }
    }
}