.home-page {
    $padding-top: 30px;

    &__layout {
        position: relative;
        z-index: 1;
        background-color: transparent;
        min-height: 100vh;
    }

    &__header {
        height: auto;
        padding: 0 $default-side-padding;
    }

    &__logo {
        color: $color-white;
        font-size: 32px;
    }

    &__content {
        margin: $padding-top 0;
        padding: 0 $default-side-padding;
    }

    &__title {
        @at-root h1#{&} {
            font-size: 20px;
            color: $color-white;
            margin: 0;
        }
    }

    &__card {
        position: sticky;
        top: $padding-top;
    }

    &__footer {
        background-color: rgba(black, 0.5);
    }

    &__bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        z-index: 0;
    }
}
